<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.member.mapper.MemberMapper">

    <resultMap id="memberMap"
               type="MemberVO">

        <id property="no"
            column="no"/>

        <result property="username"
                column="username"/>

        <result property="password"
                column="password"/>

        <result property="email"
                column="email"/>

        <result property="birthYear"
                column="birthYear"/>

        <result property="regDate"
                column="regDate"/>

        <result property="updatedDate"
                column="updatedDate"/>

    </resultMap>

    <select id="getList"
            resultMap="memberMap">

        SELECT *
        FROM tbl_member

    </select>

    <select id="get"
            parameterType="long"
            resultMap="memberMap">

        SELECT *
        FROM tbl_member
        WHERE no = #{no}

    </select>

    <insert id="insert">

        INSERT INTO tbl_member
        (
            no,
            username,
            password,
            email,
            birthYear,
            regDate,
            updatedDate
        )
        VALUES
            (
                #{no},
                #{username},
                #{password},
                #{email},
                #{birthYear},
                #{regDate},
                #{updatedDate}
            )

    </insert>

    <update id="update">

        UPDATE tbl_member
        SET
            username = #{username},
            password = #{password},
            email = #{email},
            birthYear = #{birthYear},
            updatedDate = NOW()
        WHERE no = #{no}

    </update>

    <delete id="delete">

        DELETE
        FROM tbl_member
        WHERE no = #{no}

    </delete>

</mapper>